.navbarContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 75px;

  border-bottom: 1.5px solid #d6d6d6;

  .title {
    font-weight: 300;
    font-size: 30px;
  }

  .close {
    position: absolute;
    right: 20px;
  }
}
